/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20-nov-2017, 19:42:09
    Author     : cadav
*/
.background {
    -fx-background-color: white;
}

.label {
    -fx-font-size: 10pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #1d1d1d;
    -fx-opacity: 0.6;
}

.label-bright {
    -fx-font-size: 10pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #1d1d1d;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 30pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #1d1d1d;
    -fx-opacity: 1;
}

.table-view {
    -fx-base: white;
    -fx-control-inner-background: white;
    -fx-background-color: white;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 30;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color: 
        transparent
        transparent
        derive(-fx-base, 80%) 
        transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 15pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #1d1d1d;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: #9e9e9e;
    -fx-border-color: transparent;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent white transparent white;
    -fx-background-color: transparent, derive(white,20%);
}

.split-pane {
    -fx-padding: 1 0 0 0;
}

.menu-bar {
    -fx-background-color: #d8d8d8;
}

.context-menu {
    -fx-background-color: #d8d8d8;
}

.menu-bar .label {
    -fx-font-size: 10pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #1d1d1d;
    -fx-opacity: 0.9;
}

.menu:hover{
    -fx-background: -fx-accent;
    -fx-background-color: #9e9e9e;
}

.menu:pressed{
    -fx-background: -fx-accent;
    -fx-background-color: #9e9e9e;  
}

.menu-item:focused{
    -fx-background: -fx-accent;
    -fx-background-color: #9e9e9e;
}

.menu-item:pressed{
    -fx-background-color: #9e9e9e;
    -fx-text-fill: white;
}


.menu .left-container {
    -fx-background-color: white;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}

/* 
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;
    -fx-background-color: #d8d8d8;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 10pt;
    -fx-background-radius: 0;
}

.button:hover {  
    -fx-border-color: #9e9e9e;
    -fx-border-width: 2;    
    -fx-text-fill: #1d1d1d;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}


.button:pressed, .button:default:hover:pressed {
  -fx-background-color: #9e9e9e;
  -fx-text-fill: black;
}

.button:focused {
    -fx-border-color: #9e9e9e, #9e9e9e;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: white;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #1d1d1d;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}

.text-field {
    -fx-font-size: 10pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #1d1d1d;
    -fx-opacity: 0.6;
    -fx-border-style: segments(1, 1);
}
